<div class="character">
  <div class="img-container">
    <img [src]="character.img" [alt]="character.name">
  </div>
  <div class="details">
    <h5>{{character.name}}</h5>
    <div>aka. {{character.nickname}}</div>
    <div>cast. {{character.portrayed}}</div>
    <nb-badge text="{{character.status}}" status="{{getStatus(character.status)}}"
              position="top right"></nb-badge>
  </div>
  <div class="status">
    <div>
      <b>Occupation</b>
      <ul>
        <li *ngFor="let occ of character.occupation">{{occ}}</li>
      </ul>
    </div>
    <div>
      <b>Appearance</b>
      <div class="seasons" *ngIf="character.appearance.length > 0">
        <span>bb: </span>
        <div *ngFor="let app of character.appearance">{{app}}</div>
      </div>
      <div class="seasons" *ngIf="character.better_call_saul_appearance.length > 0">
        <span>bcs: </span>
        <div *ngFor="let app of character.better_call_saul_appearance">{{app}}</div>
      </div>
    </div>
  </div>
  <div class="info" [nbSpinner]="!character.loaded" *ngIf="character.death.cause">
    <b>Death Info</b>
    <div>
      <div>Cause</div>
      <div>{{character.death.cause}}</div>
    </div>
    <div>
      <div>Last Word</div>
      <div>{{character.death.last_words}}</div>
    </div>
    <div>
      <div>Responsible</div>
      <div>{{character.death.responsible}}</div>
    </div>
    <div>
      <div>Died in</div>
      <div>S{{character.death.season}}-E{{character.death.episode}}</div>
    </div>
  </div>
  <div class="info" [nbSpinner]="!character.loaded">
    <b>Kills: </b> {{character.kills.deathCount ? character.kills.deathCount : 0}}
  </div>
</div>
